
.vs/Project Pixel/v15/Server/sqlite3/storage.ide-wal
.vs/Project Pixel/v15/Server/sqlite3/storage.ide-shm
.vs/Project Pixel/v15/Server/sqlite3/storage.ide
.vs/Project Pixel/v15/Server/sqlite3/db.lock
.vs/Project Pixel/v15/Browse.VC.opendb
.vs/Project Pixel/v15/Browse.VC.db
.vs/Project Pixel/v15/.suo
